    <div class="header">
        <div class="header__logo">
            <li><a href="#" class="logo-link"><img class="logo-img" src="/svg-logo.png" alt="">TRUESTUDY</a></li>
        </div>
        <div class="header__links">
            <li><img src="/vector.svg" alt="" class="link-icon"><a href="/" class="link1">Home</a></img></li>
            <li><img src="/heart.svg" alt="" class="link-icon"><a href="/Favourites" class="link2">Favourites</a></img></li>
            <li><img src="/trending-up.svg" alt="" class="link-icon"><a href="/Trending" class="link3">Trending</a></img></li>
            <li><img src="/calendar.svg" alt="" class="link-icon"><a href="/Coming-soon" class="link4">Coming soon</a></img></li>
        </div>
        <div class="header__logout">
            <li><img src="/log-out.svg" alt="logout-icon" class="logout-icon"><a href="/Logout" class="logout">Logout</a></img></li>
        </div>
    </div>